.pk-header{
    background-size: 100%;
	background-image: url("../imgs/world-bg-high.jpg");
	background-position: center;
}
.bnt-down {display: block;}
header {padding-bottom: 0;}
.subcall {margin-bottom: 40px;}